.bg-blur--glass {
  backdrop-filter: blur(var(--gls-blur));
  -webkit-backdrop-filter: blur(var(--gls-blur));
}

.bg-blur--backdrop {
  background: var(--color-bg-backdrop);
  backdrop-filter: blur(var(--backdrop-blur));
  -webkit-backdrop-filter: blur(var(--backdrop-blur));
}
