@layer utilities {
  .font-size--2xs {
    font-size: var(--font-size-2xs);
  }

  .font-size--xs {
    font-size: var(--font-size-xs);
  }

  .font-size--sm {
    font-size: var(--font-size-sm);
  }

  .font-size--md {
    font-size: var(--font-size-md);
  }

  .font-size--base {
    font-size: var(--font-size-base);
  }

  .font-size--lg {
    font-size: var(--font-size-lg);
  }

  .font-size--xl {
    font-size: var(--font-size-xl);
  }

  .font-size--stat {
    font-size: var(--font-size-stat);
  }
}
